langchain-nomic
langchain_community
tiktoken
langchainhub
chromadb
langchain
langgraph
tavily-python
gpt4all
langchain-text-splitters
pypdf
sentence-transformers
aiogram==2.12.1
unstructured
trulens_eval
llama_index
llama-index-embeddings-huggingface
llama-index-llms-ollama
llama-index-readers-web
litellm